//colors

$light-gray:#fafafa;
$black:#000;
$white:#fff;
$light-gray-two:#e3e3e3;
$light-gray-three:#f5f5f5;
$light-gray-four:#ececec;
$gray-font:#d3d3d2;
$dark-font:	#999999;
$dark-font-two:#555555;
$blue-primary:#1aa7ec;
$blue-secondary:#4adede;